<% include partials/header %>
<br>
<br>
<br>
<br>
<div class="ui raised very padded text container segment">
  <h1 class="ui header">Welcome to GateWay !</h1>
	<li><a href="/register" title="">Register</a></li>
	<li><a href="/login" title="">Log In</a></li>
	<li><a href="/channel" title="">Secret Page</a></li>	
</div>
<% include partials/footer %>