<h1>Log in</h1>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Login</button>
</form>
<li><a href="/register" title="">Register</a></li>
<li><a href="/login" title="">Log In</a></li>
<li><a href="/logout" title="">Logout</a></li>
<li><a href="/secret" title="">Secret Page</a></li>