<% include partials/header %>
<br>
<br>
<br>
<br>

<div class="ui raised very padded text container segment">
	  <h1 class="ui header">Register</h1>
	<form action="/register" method="POST">
<!-- 		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<br>
		<br>
		<div>
			<button class="ui button">Register</button>			
		</div> -->
		<div class="ui big form">
		  <div class="two fields">
		    <div class="field">
		      <label>Username</label>
		      <input placeholder="Your username" name="username" type="text">
		    </div>
		    <div class="field">
		      <label>Password</label>
		      <input placeholder="Keep a strong password" name="password" type="password">
		    </div>
		  </div>
		  <div>
		  	<button class="ui button">Register</button>
		  </div>
		</div>
	</form>
	<br>
	<br>
	<div align="center">
		<li><a href="/login" title="">Log In</a></li>
		<li><a href="/channel" title="">Secret Page</a></li>	
	</div>
</div>



<% include partials/footer %>