<h1>TOP SECRET</h1>
<a href="/" title="home">Home</a>
<li><a href="/register" title="">Register</a></li>
<li><a href="/login" title="">Log In</a></li>
<li><a href="/logout" title="">Logout</a></li>
<li><a href="/secret" title="">Secret Page</a></li>